<h1>Игра "Угадай слово"</h1>
<div id ="notice"><h2><%=flash[:notice]%></h2></div>
<h2>Ошибок: <%=@round.miss_count%></h2>
<!--<h2> <%=@secret_word%> </h2>-->
<table border ="2">
  <tr>
  <%=secret_board%>
  </tr>
</table>
<%= zmur %>

<p>Названные буквы <%@round.symbols.each {|symb| -%>
<%= symb -%>
<%}%></p>
  <% form_tag :action => 'add_symbol'  do -%>
    <div>Ваша буква: <%= text_field_tag 'alpha', '', :size => 1, :maxlength => 1 %></div>
    <div><%= submit_tag 'Отправить' %></div>
  <% end -%>
<%=  link_to "Новая игра", :action=> "start"  %>
