<p class="symbols_told"><b>Названные буквы: </b><%=  @round.symbols.each {|symb| symb }%></p>
<div style="float: left; width: 100%;">
  <div class="left_pane">
    <table border="2">
      <tr>
        <%= render :partial => 'board', :collection => @round.secret_chars, :as => :symb %>
      </tr>
    </table>
    <br/>
      <% form_tag :controller => 'games', :action => 'add_symbol'  do -%>
        <div>Ваша буква: <%= text_field_tag 'alpha', '', :size => 1, :maxlength => 1 %></div>
        <div><%= submit_tag 'Отправить' %></div>
      <% end -%>
  </div>
  <div style="width: 70%;">
  <%= render :partial => 'zmur' %>
  </div>
</div>